<h2>Shelter Pets Page</h2>

<% @shelter_pets.each do |pet| %>
  <article class="pet-info">
    <h3><%= pet.image %></h3>
    <h3><%= pet.name %></h3>
    <h3><%= pet.age %></h3>
    <h3><%= pet.sex %></h3>
    <%= link_to 'Edit', "/pets/#{pet.id}/edit"%>
  </article>
<% end %>

<%= link_to 'New Pet', "/shelters/#{@shelter.id}/pets/new" %>